<button id="terminate_button" onclick="terminate_game()">Terminate</button>
<p id="levelTxt">LEVEL - 1</p>
<p id="scoreTxt">SCORE: 0</p>
<div id="game_body">

</div>
<script src="/js/puzzleLogic.js"></script>
<script src="/js/createPuzzle.js"></script>
<script src="/js/terminateGame.js"></script>