<div class="wrapper">
    <p id="title">{{title}}</p>
    <p id="prompt">Enter your name</p>
    <form action="/recordScore" method="POST">
        <input id="nameInp" type="text" name="username">
        <p id="score">SCORE: {{score}}</p>
        <p id="level">LEVEL: {{level}}</p>
        <p id="current_rank">RANK: {{currentRank}}</p>
        <input type="submit" value="Submit">
    </form>
</div>