body{
    background-image: url('../images/background.jpg');
    background-repeat: repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    user-select: none;
    font-family: 'Zhi Mang Xing', cursive;
}

.tile{
    border: black 1px solid;
    background-color: brown;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0;
    padding: 0;
    transition: 0.6s;
    transform: rotateY(0deg);
    z-index: 12;
    cursor: pointer;
    user-select: none;
}

#game_body{
    top: -80px;
    position: relative;
}

#scoreTxt{
    font-size: 2em;
    margin-left: 50px;
    margin-top: 0;
}

#levelTxt{
    font-size: 2em;
    color: greenyellow;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#terminate_button{
    border-radius: 20px;
    border: 5px solid black;
    background-color: red;
    width: 10%;
    height: 60px;
    margin-left: 50px;
    float: right;
}

.tile:hover{
    background-color: #985321;
}

table{
    background-color: black;
    border: 30px black solid;
    border-radius: 10px;
}

td,tr{
    margin: 0;
    padding: 0;
    background-color: black;
}

@keyframes spin{
        0% {transform: rotate(0deg);}
        100% {transform: rotate(90deg);}
}

@keyframes spin2{
    0% {transform: rotate(0deg);}
    50% {transform: rotate(90deg);}
    52% {transform: rotate(90deg);}
    100% {transform: rotate(180deg);}
}

@keyframes spin3{
    0% {transform: rotate(0deg);}
    35% {transform: rotate(90deg);}
    38% {transform: rotate(90deg);}
    68% {transform: rotate(180deg);}
    70% {transform: rotate(180deg);}
    100%{transform: rotate(270deg);}
}

.puzzle{
    margin-left: 25%;
    margin-top: 100px;
    
}

.start_rotate1{
    animation: spin 2s forwards;
}

.start_rotate2{
    animation: spin2 3s forwards;
}

.start_rotate3{
    animation: spin3 4s forwards;
}



.correct_tile, .correct_tile:hover{
    background-color: #01FF00;
    transition: 0.6s;
    transform: rotateY(180deg);
    color: darkgreen;
    font-size: 2em;
    line-height: 1.5em;
}

.wrong_tile, .wrong_tile:hover{
    background-color: red;
    color: white;
    font-size: 2em;
    text-align: center;
    line-height: 1.5em;
    transition: 0.6s;
    transform: rotateY(180deg);
    font-family: 'Times New Roman', Times, serif
}

.rotate_tile1 p{
    transform: rotate(90deg) rotateY(180deg);
    text-align: center;
    padding-left: 40px;
    font-weight: 900;
}

.rotate_tile2 p{
    transform: rotate(180deg) rotateY(180deg);
    text-align: center;
    margin-left: 40px;
    font-weight: 900;
    width: 50px;
}

.rotate_tile3 p{
    transform: rotate(-270deg) rotateY(-180deg);
}

.answer_tile{
    background-color: yellow;
    transition: 0.6s;
    transform: rotateY(180deg);
    color: rgb(125, 255, 125);
    font-size: 2em;
    line-height: 1.5em;
}

#terminal{
    width: 30%;
    font-size: 3em;
    margin-left: 35%;
}